In [1]:
import nltk

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("sw_good.csv")

In [13]:
import sklearn.feature_extraction.text

In [4]:
from nltk.tokenize import word_tokenize

In [5]:
import scipy

In [6]:
import string

In [7]:
from nltk.corpus import stopwords

In [14]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [4]:
data

   Rating                                             Review good_or_bad
0     5.0  To help combat the slew of stupidity from naci...        Good
1     0.5  Ruined my childhood hero, Luke Skywalker's leg...        Good
2     5.0  Loved this. Such a great addition to the tradi...        Good
3     1.5  Excess plot lines and no learning or growth fr...        Good
4     0.5                                stupid sjw bullshit         Bad

In [ ]:
"""Prepare the text for analysis."""

In [16]:
for item in data['Review']:   
    # split into words
    tokens = word_tokenize(item)
    # convert to lowercase
    tokens = [w.lower() for w in tokens]
    # remove punctuation and abberations
    table = str.maketrans('', '', string.punctuation)
    stripped = [w.translate(table) for w in tokens]
    words = [word for word in stripped if word.isalpha()]
    # filter out stop words
    stop_words = set(stopwords.words('english'))
    words = [w for w in words if not w in stop_words]
    # words is now a list of the significant words
    print(words)

['help', 'combat', 'slew', 'stupidity', 'nacissitic', 'sw', 'fans', 'must', 'say', 'movie', 'around', 'brilliant', 'cinematogrophy', 'overflowing', 'beauty', 'directed', 'elegant', 'form', 'edited', 'max', 'cathartic', 'payoff', 'technicalties', 'tlj', 'perfect', 'spoilers', 'story', 'plot', 'great', 'base', 'line', 'allows', 'major', 'storylines', 'character', 'development', 'take', 'place', 'stop', 'complaining', 'fuel', 'logic', 'shouldnt', 'think', 'much', 'taking', 'jedi', 'sith', 'perfect', 'let', 'go', 'past', 'kill', 'rian', 'johnson', 'genius']
['ruined', 'childhood', 'hero', 'luke', 'skywalker', 'legacy', 'wonder', 'mark', 'hamill', 'fundamentally', 'disagreed', 'everything', 'written', 'character', 'unforgivable']
['loved', 'great', 'addition', 'traditions', 'fun', 'series', 'laughed', 'cried', 'wanted', 'many', 'toys', 'love', 'new', 'characters', 'appreciated', 'nt', 'take', 'seriously', 'except', 'kylo', 'ren', 'course', 'worlds', 'built', 'gorgeous', 'fantastic']
['excess', 'plot', 'lines', 'learning', 'growth', 'characters', 'introduced', 'previous', 'film', 'created', 'convoluted', 'mess', 'feels', 'way', 'disney', 'trying', 'hard', 'also', 'star', 'wars', 'thereby', 'neither']
['stupid', 'sjw', 'bullshit']

         Rating
count  5.000000
mean   2.500000
std    2.318405
min    0.500000
25%    0.500000
50%    1.500000
75%    5.000000
max    5.000000